@charset "utf-8";
.list li img{
    border-radius: 8px;
}
body, ul, li {
margin: 0;
padding: 0;
}
ul, li {
list-style: none;
}
.menu {
width: 100%;
height: 255px;
overflow: hidden;
}
.menu ul {
width: 100%;
height: 255px;
}
.menu ul li img {
display: block;
width: 100%;
height: 255px;
}